@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:300);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


html,body {
  height:100%;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  font-family: 'Noto Sans', sans-serif;
}

body {
    text-align:center; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151414), color-stop(80%,#887d7d), color-stop(100%,#d4d6d6)); 
    background: -webkit-linear-gradient(top,  #151414 0%,#887d7d 80%,#d4d6d6 100%); 
    font-family: 'Noto Sans', sans-serif;
}

header {
    height: 80px;
}

nav {
    margin: 0px auto;
}

header h1 {
    float: left;
    margin: 20px 40px 30px;
    font-size: 380%;
    color: #d0ecf7;
    font-family: 'Noto Sans', sans-serif;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 130%;
}

#name {
    font-size: 24px;
    /*color: rgba(137, 240, 47, 0.89);*/
    color: #d0ecf7;
    text-shadow: 2px 2px black;
}
tr th {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    padding:20px;
}
td{
    text-align: justify;
    padding: 20px;

}
header ul li a:hover {
    color:#d0ecf7;
    /*color: rgba(137, 240, 47, 0.89);*/
    
}

.right {
    float: right;
    font-family: 'Noto Sans', sans-serif;
}

img {
    border-radius: 50%;
}
