@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:300);

html,body {
  height:100%;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

body {
    text-align:center; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151414), color-stop(80%,#887d7d), color-stop(100%,#d4d6d6)); 
    background: -webkit-linear-gradient(top,  #151414 0%,#887d7d 80%,#d4d6d6 100%); 
}

header {
    height: 80px;
}

nav {
    margin: 0px auto;
}

header h1 {
    float: left;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 40px;
    color:rgba(137, 240, 47, 0.89);
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header ul li a:hover {
    background-color: rgba(137, 240, 47, 0.89);
}

.right {
    float: right;
}

section.section {
    width: 800px;
    margin-top: 200px;
    margin: auto;
}

section p {
    margin-top: 50px;
}
  
  
  
  #companylogopicture {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
.myteam{
  height: 20px;
  width: 20%;
}
#companylogopicture {
  height: 10px;
  width: 20px;
}
/* ----------------------images--------------------------- */
.myteam {
  float: right;
  margin-left: -60px;
  display: inline-block;
  
}

.picture {
  right: 0px;
  padding: 2px;
  padding-bottom: 5px;
  display: inline-block;

  list-style: none;
  float: left;
  padding: 0 10px 0 0;
  text-align:left; 


  }

  main ul li {
    list-style: none;
    float: left;
    margin: 10px 10px 10px 0px;
    width: 100px
}

main ul li:last-child {
    margin-right: 0px;
    width: 100px
}
main ul li:last-child {
  margin-right: 0px;
    width: 100px
}

