@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:300);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Asset|Nunito:700|Quicksand:300|Seymour+One);

section {
  position: fixed;
  top: 45%;
  left: 45%;
  transition: background-color 0.5s ease;
}
body{
  background: url("../img/treasure_box.jpeg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  color: white;
  text-align: center;
}
.btn {
  background:none;
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border: .1px solid white;
  text-shadow: 0px 2px 0px #666666;
  -webkit-box-shadow: 0px 1px 9px #666666;
  -moz-box-shadow: 0px 1px 9px #666666;
  box-shadow: 0px 1px 9px #666666;
  font-family: 'Advent Pro', sans-serif;
  letter-spacing: 3px;
  color: white;
  font-size: 40px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);  
}

/* --------------------------------------------------------------- */
.btn:hover {
  text-decoration: none;
  transition: background-color 2s ease;
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

div {
  padding: 40px;
  font-size: 600%;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(137, 240, 47, 0.89);
}
div p { margin:0; }
#Complaint:hover { text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; }
#Box:hover { text-shadow: 0 0 100px rgba(137, 240, 47, 0.89),0 0 40px rgba(32, 65, 4, 0.89),0 0 8px rgba(87, 156, 27, 0.89)}
#Complaint {
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
#Complaint span {
  animation: upper 11s linear infinite;
}
#Box span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}
#Box span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px rgba(137, 240, 47, 0.89),0 0 30px rgba(32, 65, 4, 0.89),0 0 6px rgba(137, 240, 47, 0.89);
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}