div {
  position: absolute;
  top: 45%;
  left: 45%;
  transition: background-color 0.5s ease;
}
body{
  background: url("../img/treasure_box.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  color: white;
  text-align: center;
}
.btn {
  background:none;
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  text-shadow: 0px 2px 0px #666666;
  -webkit-box-shadow: 0px 1px 9px #666666;
  -moz-box-shadow: 0px 1px 9px #666666;
  box-shadow: 0px 1px 9px #666666;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: white;
  background-image: -webkit-linear-gradient(top, white, rgba(84, 61, 1, 1));
  background-image: -moz-linear-gradient(top, white, rgba(84, 61, 1, 1));
  background-image: -ms-linear-gradient(top, white, rgba(84, 61, 1, 1));
  background-image: -o-linear-gradient(top, white, rgba(84, 61, 1, 1));
  background-image: linear-gradient(to bottom, white, rgba(84, 61, 1, 1));
  text-decoration: none;
  transition: background-color 2s ease;
}