@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:300);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
html,body{
  height:100%;
  background-repeat: no-repeat; 
  font-family: 'Noto Sans', sans-serif;
}
body{
text-align:center; 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151414), color-stop(80%,#887d7d), color-stop(100%,#d4d6d6)); 
background: -webkit-linear-gradient(top, #151414 0%,#887d7d 80%,#d4d6d6 100%);
font-family: 'Noto Sans', sans-serif; 
background-attachment: fixed;
}
h1 {
  font-size: 40px;
  color:rgba(137, 240, 47, 0.89);
  shadow: 1px 5px 10px -2px rgba(240, 233, 233, 0.986);
  font-family: 'Noto Sans', sans-serif;
}
header {
    height: 80px;
}

nav {
    margin: 0px auto;
    font-family: 'Noto Sans', sans-serif;
}

header h1 {
    float: left;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 40px;
    color:rgba(137, 240, 47, 0.89);
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header ul li a:hover {
    color: rgba(137, 240, 47, 0.89);
}

.right {
    float: right;
}
section p {
    position: absolute;
    top: -60px;
    left: 20%;
    right: 20%;
    font-size: 20px;
    /* font-weight: bold; */
}
#section2 {
    position: absolute;
    top: 60%;
    left: 20%;
    right: 40%;
    font-size: 12px;
}
#section3 {
    position: absolute;
    top: 60%;
    left: 20%;
    right: 40%;
    font-size: 12px;
}
/* ---------------------------------------------------------- */
.btn {
    background:none;
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    /* border-radius: 16px;  */
    border: none;
    text-shadow: 0px 2px 0px #666666;
    -webkit-box-shadow: 0px 1px 9px #666666;
    -moz-box-shadow: 0px 1px 9px #666666;
    box-shadow: 0px 14px 9px #666666;
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 3px;
    color: white;
    font-size: 20px;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 43%;
  }
  
  .btn:hover {
    background: rgba(137, 240, 47, 0.40);
    text-decoration: none;
    transition: background-color 4s ease;
  }
.numberPosition {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    font-weight: bold;
}
/* ----------------------------------green scale------------------------------- */
label[for=range] {
position: absolute;
top: 50%;
left: 50%;
margin-left: -175px;
margin-top: -32px;
height: 49px;
padding-top: 6px;
width: 350px;
padding-left: 13px;
-webkit-transform: skew(-62deg);
overflow: hidden;
padding-bottom: 10px;
}

label[for=range]:after {
content: "";
position: absolute;
bottom: 11px;
left: 69px;
height: 9px;
width: 278px;
box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.849);
-webkit-transform: skew(62deg);
}
input[type=range] {
-webkit-appearance: none;
background-color: transparent;
width: 300px;
height: 38px;
  padding-top:10px;
  overflow:hidden;
margin: 0;
margin-left: -20px;
transform-style: preserve-3d;
perspective: 300;
transform-origin: 50% 50% 300px;
perspective-origin: 50% -121%;
transform: skew(62deg);
}
input[type=range]:focus{
  outline:none;
}
input[type="range"]::-webkit-slider-thumb {
  position:relative;
     -webkit-appearance: none;
    cursor:pointer;
    background-color: transparent;
    width: 40px;
    height: 18px;
    box-shadow: 1px 5px 10px -2px rgba(240, 233, 233, 0.986),
    -25px 0 0 10px rgba(137, 240, 47, 0.89),
    -75px 0 0 10px rgba(137, 240, 47, 0.89),
    -125px 0 0 10px rgba(137, 240, 47, 0.89),
    -175px 0 0 10px rgba(137, 240, 47, 0.89),
    -225px 0 0 10px rgba(137, 240, 47, 0.89),
    -275px 0 0 10px rgba(137, 240, 47, 0.89),
    -325px 0 0 10px rgba(137, 240, 47, 0.89);
  z-index:2;
}
input[type="range"]::-webkit-slider-thumb:after {
content: "";
position: absolute;
z-index: 1;
left: -285px;
top: -28px;
width: 300px;
height: 140px;
background: #9FE472;
transform: rotateX(90deg);
transform-origin: 0 0px 0;
transform: rotateX(90deg) translateY(-140px) translateZ(-18px);
}
input[type="range"]::-webkit-slider-thumb:before {
content: "< >";
font-family: 'Concert One', cursive;
position: absolute;
background: #eaebe5;
background: -moz-linear-gradient(top, #eaebe5 0%, #dcdedd 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaebe5), color-stop(100%,#dcdedd));
background: -webkit-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
background: -o-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
background: -ms-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
background: linear-gradient(to bottom, #eaebe5 0%,#dcdedd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebe5', endColorstr='#dcdedd',GradientType=0 );
top: -2px;
left: 0px;
border-radius: 2px;
color: #7e7575;
text-shadow: 0 1px 0 white;
height: 22px;
width: 32px;
border-top: 1px solid white;
border-left: 1px solid white;
box-sizing: border-box;
text-align: center;
line-height: 19px;
font-size: 17px;
}
input[type="range"]::-webkit-slider-runnable-track:before {
content: "";
position: absolute;
height: 38px;
width: 283px;
background: #e8e8e8;
background: -moz-linear-gradient(top, #dfdfdf 0%, #d8d8d8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#d8d8d8));
background: -webkit-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
background: -o-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
background: -ms-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
background: linear-gradient(to bottom, #dfdfdf 0%,#d8d8d8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#d8d8d8',GradientType=0 );
bottom: 0;
left: 0;
}
input[type="range"]::-webkit-slider-runnable-track:after {
content: "";
position: absolute;
height: 10px;
width: 270px;
background: rgb(247, 247, 247);
top: 0;
right: 26px;
transform: skew(62deg);
}
input[type=range]:before {
content: "";
position: absolute;
background: rgb(190, 190, 190);
box-shadow:0 1px 0 rgb(235, 235, 235);
width: 283px;
left: 0;
height: 1px;
top: 29px;
z-index: 1;
}
input[type=range]:after {
content: "";
position: absolute;
background: rgb(190, 190, 190);
width: 7px;
left: 3px;
border-radius: 50%;
height: 6px;
top: 26px;
z-index: 1;
box-shadow:30px 0 0 rgb(190, 190, 190),
60px 0 0 rgb(190, 190, 190),
90px 0 0 rgb(190, 190, 190),
120px 0 0 rgb(190, 190, 190),
150px 0 0 rgb(190, 190, 190),
180px 0 0 rgb(190, 190, 190),
210px 0 0 rgb(190, 190, 190),
240px 0 0 rgb(190, 190, 190),
270px 0 0 rgb(190, 190, 190),
60px 1px 0 rgb(235, 235, 235),
90px 1px 0 rgb(235, 235, 235),
120px 1px 0 rgb(255, 255, 255),
150px 1px 0 rgb(235, 235, 235),
180px 1px 0 rgb(235, 235, 235),
210px 1px 0 rgb(235, 235, 235),
240px 1px 0 rgb(235, 235, 235),
270px 1px 0 rgb(235, 235, 235);
}
#section1 {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
.scale {
position: absolute;
top: 65%;
text-align: center;
width: 100%;
font-size: 16px;
font-family: 'Noto Sans', sans-serif;
color: white;
}
title {
position: absolute;
top: 65%;
text-align: center;
width: 100%;
font-size: 16px;
font-family: 'Noto Sans', sans-serif;
}
.output {
position: absolute;
bottom: 100%;
left: 0;
margin-bottom: -100px;
text-align: center;
width: 100%;
font-size: 1em;
font-family: 'Advent Pro', sans-serif;
color: rgba(132, 206, 66, 1);
} */
/* ----------------------------------old green scale-------------------------------
