@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:300);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Asset|Nunito:700|Quicksand:300|Seymour+One);

html,body {
  height:100%;
  background-repeat: no-repeat; 
}

body {
    text-align:center; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151414), color-stop(80%,#887d7d), color-stop(100%,#d4d6d6)); 
    background: -webkit-linear-gradient(top,  #151414 0%,#887d7d 80%,#d4d6d6 100%); 
    background-attachment: fixed;
}


header {
    height: 80px;
}

nav {
    margin: 0px auto;
    font-family: 'Raleway', sans-serif;
}

header h1 {
    float: left;
    margin: 20px 40px 30px;
    font-size: 40px;
    color:rgba(137, 240, 47, 0.89);
    font-family: 'Noto Sans', sans-serif;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

header ul li a:hover {
    color: rgba(137, 240, 47, 0.89);
}

.right {
    float: right;
}

body div {
    /* width: 70%; */
    /* margin: auto; */
    margin-top: 10px;
}

body div img {
    width: 40%;
    margin: auto;
    margin-top: 0;
}

body div p {
    font-size: 50px;
}

